a.pdf, span.pdf {
    color: #DE4830;
    display: inline-block;
    padding-left: 24px;
    line-height: 21px;
    background: url(https://www.genevaparks.org/wp-content/themes/gpd/images/icon-pdf.png) no-repeat left top;
}

ul.pdf-list {
    list-style: none;
    margin-left: 15px;
    padding-left: 10px;
}

ul.pdf-list li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul.pdf-list li a {
    color: #DE4830;
    display: inline-block;
    line-height: 21px;
    background: url(https://www.genevaparks.org/wp-content/themes/gpd/images/icon-pdf.png) no-repeat left top;
    padding-left: 24px;
}

