#content.index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#content.index > a {
  opacity: 1;
  transition: 300ms all linear;
}

#content.index > a:hover {
  opacity: 0.75;
}
