.responsive-info {
  display: none;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 0;
}

#hamburger_menu_toggle {
  display: block !important;
  position: relative;
  top: inherit;
  bottom: inherit;
  left: inherit;
  right: inherit;
  width: 100%;
}

#hamburger_menu_checkbox:checked + .hamburger-menu {
  display: block !important;
  position: absolute;
  top: 154px;
  left: inherit;
  width: 100%;
}

label#hamburger_menu_toggle {
  padding: 10px 0;
  cursor: pointer;
  color: white;
  background-color: #db6e26;
  text-align: center;
}

label#hamburger_menu_toggle i {
  margin-right: 10px;
}

input#hamburger_menu_checkbox {
  display: none;
}

.hamburger-menu {
  display: none !important;
}

ul.hamburger-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

ul.hamburger-menu li a {
  background-color: rgba(242, 116, 38, 1);
  color: white;
  display: block;
  text-decoration: none;
  padding: 10px;
  transition: all 300ms linear;
}

ul.hamburger-menu li a:hover {
  background-color: rgba(242, 116, 38, 0.85);
}

@media (min-width: 1000px) {
  #hamburger_menu_toggle {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  body {
    padding: 0 20px;
  }
  #wrapper {
    width: 100%;
  }
  #header {
    width: 100% !important;
    height: auto !important;
  }
  #header #nav {
    display: none !important;
  }
  #cycle {
    width: 100% !important;
  }
  #cycle #banners {
    width: 100% !important;
  }
  .banner-wrap {
    margin-top: 20px;
  }
  .banner-wrap .pic {
    display: none;
  }
  #hamburger_menu_toggle {
    display: block !important;
    position: relative;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
    width: 100%;
  }

  #hamburger_menu_checkbox:checked + .hamburger-menu {
    display: block !important;
    position: absolute;
    top: 154px;
    left: inherit;
    width: 100%;
  }

  #content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important;
  }
  #content > * {
    float: none !important;
    margin-bottom: 20px !important;
  }
  #footer {
    width: 100% !important;
  }

  #header #meta {
    display: none;
  }
  #header h1 {
    position: initial;
    margin: 20px auto;
  }
  #header #nav {
    position: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  #footer > .info {
    display: none;
  }
  #footer > .invex {
    display: none;
  }
  #footer .responsive-info {
    display: flex;
  }
  #footer a {
    color: #F27426;
    line-height: 18px;
    height: 18px;
    text-decoration: none;
  }
}

@media (max-width: 650px) {
  #content > * {
    margin-right: 0 !important;
  }
}