@charset "utf-8";

html, body, div, p, h1, h2, h3, img {
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}

table, table td, table th {
  border-collapse: collapse;
}

map, area {
  border: none;
}

/* ----- Floats ----- */
.alignright {
  float: right;
  margin: 0 0 10px 25px;
  padding: 0;
}

.alignleft {
  float: left;
  margin: 0 25px 10px 0;
  padding: 0;
}

.aligncenter {
  text-align: center;
}

html {
  background: url(../images/hd-background.jpg) no-repeat top center fixed #E3E3E3;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000;
}

h1, h2, h3, h4, strong {
  font-weight: 700;
}

#wrapper {
  width: 1000px;
  margin: 0px auto;
  z-index: 0;
}

/* ----- Header ----- */
#header {
  width: 1000px;
  height: 161px;
  margin-bottom: 0px;
  position: relative;
  z-index: 10;
}

#header h1 {
  text-indent: -100000em;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 31px;
  left: 0;
  width: 248px;
  height: 93px;
  background: url(../images/music-boosters-logo-v2.png) no-repeat top left;
  background-size: contain;
  z-index: 12;
}

#header h1 a {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
}

#header #meta {
  margin: 0;
  list-style: none;
  position: absolute;
  top: 20px;
  right: 0;
  color: #FFF;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  background: #F27426;
}

#meta li {
  line-height: 31px;
  height: 31px;
}

#meta li:not(:first-child) {
  margin: 0 0 0 32px;
}

#meta li a:link, #meta li a:visited {
  color: white;
  line-height: 18px;
  height: 18px;
  background-repeat: no-repeat;
  text-decoration: none;
  display: inline-block;
}

#meta li a.login {
  background-image: url(../images/icon_key.png);
  background-position: 0px 2px;
  padding-left: 33px;
}

#meta li a:hover, #meta li a:active {
  text-decoration: underline;
}

#meta li span.phone {
  line-height: 18px;
  height: 18px;
  background: url(../images/icon_phone.png) no-repeat 0px 0px;
  display: inline-block;
  padding-left: 22px;
}

/* ----- Main Navigation ---- */
#header #nav {
  position: absolute;
  top: 98px;
  left: 300px;
  margin: 0;
  padding: 0;
}

#nav li {
  list-style: none;
  float: left;
  line-height: 20px;
}

#nav li:not(:last-child) {
  margin: 0 26px 0 0;
  padding: 0 34px 0 0;
  background: url(../images/nav_divider.png) no-repeat right 8px;
}

#nav li.last {
  margin-right: 0px;
  padding-right: 0px;
  background: none;
}

#nav li a:link, #nav li a:visited {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  line-height: 20px;
}

#nav li a:hover, #nav li a:active {
  color: black;
}

#nav li a.current:link, #nav li a.current:visited,
#nav li a.current:hover, #nav li a.current:active {
  color: black;
}

.feature a.button {
  background-color: #F27426;
  padding: 10px 20px;
  color: white !important;
}

.feature a.button:hover {
  text-decoration: none !important;
  background-color: #d17027;
}

/* ----- Content ----- */
#content {
  width: 1000px;
  padding: 35px 0;
  position: relative;
  z-index: 0;
  min-height: 400px;
  color: #333;
  border-top: 5px solid black;
}

#wrapper .no-border {
  border: none;
  min-height: 200px;
}

#content h2 {
  color: black;
  font-size: 48px;
  line-height: 56px;
  margin: 0 0 25px 0;
  padding: 0;
}

#content h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 20px 0;
  padding: 0;
}

#content h3 em {
  font-size: 14px;
  font-weight: 400;
}

#content h4 {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 20px 0;
  padding: 0;
}

#content p {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.5;
  font-size: 14px;
}

#content ul, #content ol {
  margin: 0 0 20px 10px;
  padding: 0 0 0 10px;
}

#content li {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 6px 0;
}

#content a:link, #content a:visited {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

#content a:hover, #content a:active {
  text-decoration: underline;
}

#content table {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

#content table td {
  valign: top;
}

#content hr {
  height: 1px;
  line-height: 1px;
  margin: 0 0 20px 0;
  color: #CCC;
  background-color: #CCC;
  border: none;
  clear: both;
}

#content table {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.5;
  font-size: 14px;
}

#content table td {

}

#content table.logos td {
  padding: 25px;
  vertical-align: middle;
  text-align: center;
}

#content table.services {
  width: 70%;
  margin: 0 auto;
}

#content table.services td {
  padding: 15px 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  border: 1px solid black;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(11, 72, 107);
  /* RGBa with 0.81 opacity */
  background-color: rgba(11, 72, 107, 0.25);
}

#content a.callout:link, #content a.callout:visited {
  border: 2px solid black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(11, 72, 107);
  /* RGBa with 0.81 opacity */
  background-color: rgba(11, 72, 107, 0.15);
  font-size: 16px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 15px;
}

#content a.callout:hover, #content a.callout:active {
  background-color: rgba(11, 72, 107, 1.0);
  text-decoration: none;
  color: #FFF;
}

/* ----- Home Page Content ----- */
#cycle {
  width: 1000px;
  height: 397px;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

#cycle #banners {
  width: 1000px;
  height: 397px;
  max-width: 100%;
  z-index: 1;
  overflow: hidden;
}

#cycle #banners .slide {
  display: block;
  width: 1000px;
  height: 397px;
  max-width: 100%;
  z-index: 1;
}

#cycle #banners .slide img {
  display: block;
  width: 1000px;
  height: 397px;
  max-width: 100%;
  z-index: 2;
}

#cycle #banners .slide span {
  display: block;
  /*width:265px;
  height:98px;*/
  width: 325px;
  height: 95px;
  margin: 0;
  padding: 15px;
  z-index: 500;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(11, 72, 107);
  /* RGBa with 0.81 opacity */
  background-color: rgba(11, 72, 107, 0.70);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#cycle #banners blockquote {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
  color: #FFF;
}

#cycle #banners cite {
  display: block;
  margin: 0 0 0 10px;
  font-size: 12px;
  font-style: italic;
  color: #CCC;
}

#cycle #banners .slide h4 {
  color: #FFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 10px 0;
  padding: 0;
}

#cycle #banners .slide p {
  font-size: 11px;
  color: #FFF;
  line-height: 13px;
  margin-bottom: 0;
}

#cycle #banner-nav {
  display:block;
  position: absolute;
  bottom: 17px;
  right: 17px;
  z-index: 5000;
}

#banner-nav a:link, #banner-nav a:visited {
  display: inline-block;
  margin: 0 0 0 12px;
  text-indent: -10000em;
  width: 11px;
  height: 11px;
  background: url(../images/banner_nav.png) no-repeat bottom left;
}

#banner-nav a:hover, #banner-nav a:active {
  background-position: top left;
}

#banner-nav a.activeSlide:link, #banner-nav a.activeSlide:visited,
#banner-nav a.activeSlide:hover, #banner-nav a.activeSlide:active {
  background-position: top left;
  cursor: default;
}

#content ul.buttons {
  width: 298px;
  padding: 15px 0 0 0;
  list-style: none;
  float: left;
  margin: 0 40px 0 0;
  background: url(../images/Classical-Music-Wallpapers-HD-8.jpg) no-repeat;
  background-size: cover;
}

#content ul.buttons li {
  text-align: center;
  width: 258px;
  margin: 0 auto 15px auto;
  padding: 0;
}

#content ul.buttons li a:link, #content ul.buttons li a:visited {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
  line-height: 28px;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  background-color: rgba(255,255,255,0.5);
  border: 2px solid #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

#content ul.buttons li a:hover, #content ul.buttons li a:active {
  color: #F27426;
  background-color: rgba(255,255,255,0.85);
}

#content .feature {
  width: 298px;
  float: left;
  margin-right: 40px;
  border-top: 13px solid #F27426;
  padding-top: 15px;
}

#content .feature h3 {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

#content .feature p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* ----- Footer ----- */
#footer {
  width: 1000px;
  height: 50px;
  position: relative;
  border-top: 5px solid black;
  margin-bottom: 60px;
}

#footer .info {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 11px;
  color: black;
}

#footer .info a {
  text-decoration: underline;
  color: black;
}

#footer .invex {
  position: absolute;
  top: 10px;
  right: 0px;
  color: #93a2ae;
  font-size: 11px;
  text-align: right;
}

#footer .invex a:link, #footer .invex a:visited {
  color: #93a2ae;
  text-decoration: none;
}

#footer .invex a:hover, #footer .invex a:active {
  text-decoration: underline;
}

#disclaimer {
  width: 700px;
  margin: 0 auto 20px auto;
}

#disclaimer p {
  font-size: 10px;
  color: #93a2ae;
  opacity: 1.0;
  text-align: center;
  line-height: 1.4;
}

#disclaimer p a {
  color: #93a2ae;
  text-decoration: underline;
}

/* ----- Clearer Div ----- */
div.clearer {
  clear: both;
  height: 1px;
}

/* ----- Print Styles ----- */
@media print {
  #header #meta-nav, #header #searchform, #header #social, #header #nav, #sidebar, #footer {
    display: none;
  }
  #content, #content #main-col {
    width: 1000px;
  }
}

/* ----- Brian's Added CSS ----- */
#header #nav {
  left: 295px !important;
}
#nav li:not(:last-child) {
  margin-right: 24px !important;
  padding-right: 32px !important;
}
.banner-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner-wrap .intro {
  margin-right: 50px;
  font-size: 13px;
}
.banner-wrap .intro h3 {
  font-size: 16px;
}
.banner-wrap .intro p {
  line-height: 24px;
  margin: 0 0 20px 0;
  padding: 0;
}
.banner-wrap .intro ul {

}
.banner-wrap .intro ul li {
  line-height: 24px;
  margin: 0 0 6px 0;
  padding: 0;
}
.banner-wrap .pic {
  width: 325px;
}
.banner-wrap .pic img:not(:last-child) {
  margin-bottom: 15px;
}
.secondary-container {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-content: top;
  justify-content: space-between;
}
#content .secondary-wrap {
  width: 700px;
}
#sidebar {
  width: 220px;
  padding: 15px;
  background: rgba(242,116,38,0.80);
  color: #FFF;
}
#sidebar a:link, #sidebar a:visited {
  color: #EEE;
  text-decoration: underline;
}
#sidebar a:hover, #sidebar a:active {
  color: #FFF;
}

/* --- PDF Styles --- */
a.pdf, span.pdf {
  color: #DE4830;
  display: inline-block;
  padding-left: 24px;
  line-height: 21px;
  background: url(https://www.genevaparks.org/wp-content/themes/gpd/images/icon-pdf.png) no-repeat left top;
}

ul.pdf-list {
  list-style: none;
  margin-left: 15px;
  padding-left: 10px;
}

ul.pdf-list li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.pdf-list li a {
  color: #DE4830;
  display: inline-block;
  line-height: 21px;
  background: url(https://www.genevaparks.org/wp-content/themes/gpd/images/icon-pdf.png) no-repeat left top;
  padding-left: 24px;
}
